# Ignore everything
*

# Git Files
!/.gitignore
!/README.md

# the /.config directory itself
!/.config/

# Bash
!/.bash_profile
!/.bashrc
!/.profile
!/.config/starship.toml

# X11
!/.xinitrc
!/.xmobarrc
!/.Xresources
!/.config/xmonad/
!/.config/xmonad/xmonad.hs
!/.config/xmobar/
!/.config/xmobar/**
!/.config/custom/
!/.config/custom/**
!/.config/wallpaper.jpg

# System backup configs
!/.config/system-bak/
!/.config/system-bak/**

# Other Configs
!/.config/ghostty/
!/.config/ghostty/**
!/.config/ranger/
!/.config/ranger/**
!/.config/rofi/
!/.config/rofi/**
!/.config/screengrab/
!/.config/screengrab/**
!/.config/nvim/
!/.config/nvim/**
!/.config/htop/
!/.config/htop/**
!/.config/gtk-3.0/
!/.config/gtk-3.0/**
!/.config/gtk-4.0/
!/.config/gtk-4.0/**
!/.config/gh/
!/.config/gh/config.yml
!/.fehbg

# Codex
!/.codex/
!/.codex/AGENTS.md
!/.codex/LESSONS.md
